/* Временный стиль для доводки схем залов */
.stagehall {
    border-collapse: collapse;

    width: 100%;
}
.stagehall td {
    text-align: center;
    vertical-align: middle;

    font-size: 0.8rem;
    font-weight: normal;

    padding: 0.1rem;

    width: *;
    min-width: 11px;
    height: *;
    min-height: 11px;
}
.stagehall .stage {
    border: 1px solid black;

    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-align: center;
}
.stagehall .sector {
    font-weight: bold;
}
.stagehall .seat  {
    background: #f8f8f8;

    border: 1px solid black;
}
.stagehall .rownumber {
    font-size: 0.5rem;
}

.stagehall .stateE, 
.stagehall .stateP {
    color: #999;
}

.stagehall .stateF,
.stagehall .stateS {
    cursor:pointer;

    font-weight: bold;
}

.stagehall .stateO {
    font-weight: bold;
}

.box                       { display: inline-block; width: 14px; height: 14px; border: 1px solid #000; vertical-align: -1px;}

.stagehall .stateS         { background-color: #eaec00; color: #000; text-shadow: 0.0625rem 0.09rem 0 white; }
.stagehall .stateO         { background-color: orange;  color: #000; text-shadow: 0.0625rem 0.09rem 0 white; }
.stagehall .stateE         { background-color: #f8f8f8; }
.stagehall .stateF         { color: #fff; text-shadow: 0.0625rem 0.09rem 0 black; }
.stagehall .stateF.color1  { background-color: #307a00; }
.stagehall .stateF.color2  { background-color: #19c3b8; }
.stagehall .stateF.color3  { background-color: #904397; }
.stagehall .stateF.color4  { background-color: #ff88bc; }
.stagehall .stateF.color5  { background-color: #9c5408; }
.stagehall .stateF.color6  { background-color: #09ce05; }
.stagehall .stateF.color7  { background-color: #0030ff; }
.stagehall .stateF.color8  { background-color: #b50969; }
.stagehall .stateF.color9  { background-color: #ff0080; }
.stagehall .stateF.color10 { background-color: #977343; }
.stagehall .stateF.color11 { background-color: #9deb58; }
.stagehall .stateF.color12 { background-color: #5d7897; }
.stagehall .stateF.color13 { background-color: #eaec00; }
.stagehall .stateF.color14 { background-color: #307a00; }

.three-digits {
    font-size: 0.75rem;
    letter-spacing: -0.12rem;
}

.stagehall .bt {border-top:    2px solid black;}
.stagehall .br {border-right:  2px solid black;}
.stagehall .bb {border-bottom: 2px solid black;}
.stagehall .bl {border-left:   2px solid black;}

/* Временный стиль для доводки схем залов */