{% extends "index.html" %}
{% load tz %}

{% block content_body %}

{% if small_vertical_vip %}
<div class="poster-small-vertical-body vip">
{% for item in small_vertical_vip %}
{% localtime on %}
    {% include "event/small_vertical_posters.html" with item=item %}
{% endlocaltime %}
{% endfor %}
</div>
{% endif %}

{% if small_vertical %}
<div class="poster-small-vertical-body">
{% for item in small_vertical %}
{% localtime on %}
    {% include "event/small_vertical_posters.html" with item=item %}
{% endlocaltime %}
{% endfor %}
</div>
{% endif %}

<div class="share-help">
{% include "share_help.html" %}

{# Иконка для страницы Бельканто выводится только на основном сайте Безантракта #}
{% comment %}
{% if request.domain == "vrn" %}
    <div class="belcanto-banner">
        <a href="/gastroli">
            <img src="images/banners/belcanto.png" style="width: 6rem;">
        </a>
    </div>
{% endif %}
{% endcomment %}
</div>

{% if debug %}
<br><br>
categories: <pre>{{ categories|pprint }}</pre>
<br><br>
current_month: {{ request.current_month|pprint }}
<br><br>
event_days: <pre>{{ event_days|pprint }}</pre>
<br><br>
big_vertical_left: <pre>{{ big_vertical_left|pprint }}</pre>
<br><br>
big_vertical_right: <pre>{{ big_vertical_right|pprint }}</pre>
<br><br>
big_horizontal: <pre>{{ big_horizontal|pprint }}</pre>
<br><br>
small_vertical_vip: <pre>{{ small_vertical_vip|pprint }}</pre>
<br><br>
small_vertical: <pre>{{ small_vertical|pprint }}</pre>
<br><br>
{% endif %}
{% endblock %}
