@charset "utf-8";

/* Структура */

.top,
.body {
    padding: 0;
    margin: 0 auto;

    width: 70%;

    z-index: 10;
}

.top {
    display: inline-block;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    padding: 0;

    height: 5.5rem;

    z-index: 3;
}

.top-left,
.top-right {
    display: inline-block;
    float: left;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    padding: 0.5vw 0 0.5vw 1vw;

    position: relative;

    z-index: 5;
}

.top-left {
    width: 32.5%;
}

.top-right {
    background: url(/static/global/svg/panorama-top.svg) 13% center no-repeat;
    background-origin: content-box;
    background-size: 160% 100%;
    -moz-background-size: 160% 100%;
    -webkit-background-size: 160% 100%;

    width: 67.5%;
}

.body {
    background: url(/static/global/svg/content-body.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    text-align: left;

    height: 100%;
    min-height: 100%;
}

.poster-big-vertical-left,
.poster-big-vertical-right {
/*  display: inline-block;*/

    text-align: center;

    width: 15%;

    position: absolute;

    height: 100%;

    z-index: 2;
}
.poster-big-vertical-left {
    left: 0;
}
.poster-big-vertical-right {
    right: 0;
}
.poster-big-vertical-left img,
.poster-big-vertical-right img {
    width: 90%;
    height: auto;
}

.header {
    display: inline-block;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    padding: 0.5vw 1vw;
    margin: auto 0;

    width: 100%;

    z-index: 3;
}

.header-left {
    display: inline-block;
    float: left;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    background: url(/static/global/svg/header-left.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    padding: 0.5vw 1vw;

    width: 32%;

    position: relative;

    z-index: 5;
}

.header-right {
    display: inline-block;
    float: left;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    background: url(/static/global/svg/poster-big-horizontal-body.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    padding: 1vw;
    margin: 0;

    width: 68%;

    position: relative;

    z-index: 5;
}

/* Календарь */

.calendar {
    padding: 1%;
    margin-bottom: 2%;

    position: relative;
    left: 0;
    top: 0.25rem;

    width: 100%;

    z-index: 5;
}

.calendar table {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
}

.calendar .title {
    background: url(/static/global/svg/calendar-day-header.svg) center center no-repeat;
    background-size: 95% 95%;
    -moz-background-size: 95% 95%;
    -webkit-background-size: 95% 95%;
}

.calendar tr th,
.calendar tr td {
    color: #FFF;
    font-size: 1rem;

    margin: 0.2rem;

    height: 1.25rem;
}

.calendar .name, 
.calendar .ttip {
    background: url(/static/global/svg/calendar-day-header.svg) center center no-repeat;
    background-size: 95% 90%;
    -moz-background-size: 95% 90%;
    -webkit-background-size: 95% 90%;

/*    text-shadow: 0.1rem 0.1rem 0.01rem rgb(0, 0, 0);*/

    width: 14.285714286%;
}

.calendar .name.weekend {
    color: #999;
}

.calendar .daysrow .emptycell {
    background: url(/static/global/svg/calendar-day-disabled.svg) center center no-repeat;
    background-size: 95% 90%;
    -moz-background-size: 95% 90%;
    -webkit-background-size: 95% 90%;
}

.calendar .daysrow .day {
    cursor: pointer;

    background: url(/static/global/svg/calendar-day-enabled.svg) center center no-repeat;
    background-size: 95% 90%;
    -moz-background-size: 95% 90%;
    -webkit-background-size: 95% 90%;

    color: #000;
}

.calendar .daysrow .day:hover,
.calendar .daysrow .selected,
.calendar .daysrow .today {
    background: url(/static/global/svg/calendar-day-active.svg) center center no-repeat;
    background-size: 95% 90%;
    -moz-background-size: 95% 90%;
    -webkit-background-size: 95% 90%;

    color: #000;

/*    text-shadow: 0.1rem 0.1rem 0.01rem rgb(0, 0, 0);*/
}

.calendar .day a {
    cursor: pointer;
    text-decoration: none;
}

.calendar .day_active a {
    color: #FFF;
    text-decoration: none;
}

/* Верхнее левое меню */

.top-menu {
    text-align: center;

    width: 100%;
/*    height: 100%;*/

    position: relative;
    left: 0;
    top: 0;

    z-index: 5;
}

.top-menu ul {
    padding: 0;
}

.top-menu ul li {
    list-style: none;
}

.top-menu ul li a {
    display: block;

    background: url(/static/global/svg/left-menu.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;

    margin: 0.1rem 0;
    padding: 2% 4%;

    width: 100%;
}

/*
.top-menu ul li a > strong {
    font-weight: normal;
}
*/

.top-menu ul li a:hover,
.top-menu ul li.active a {
    background: url(/static/global/svg/left-menu-active.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    color: #FFF;
}

.header-left > img.bzlogo {
    width: 100%;
    height: auto;
}


/* Поиск */

.search {
    display: block;

/*    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;*/

    padding: 0;
    margin: 0;
}

.search .modul,
.search .modul .mod-top {
    display: block;

    padding: 0;
    margin: 0;
}

.search form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.search form .inputbox {
    display: inline-block;

    background: url(/static/global/svg/search-input.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    border: none;

    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    padding: 0.5vw 1.5vw;

    width: 70%;

    z-index: 5;
}
.search form .button {

    background: url(/static/global/svg/search-button.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    color: #000;

    cursor: pointer;

    border: none;

    padding: 0.5% 1.5%;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    width: 30%;
/*
    position: relative;
    left: -1.25%;
*/
    z-index: 4;
}

/* Выбор города */

.choose-city-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    background: url(/static/global/svg/background-white.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    padding: 0 0.5rem;

    width: 100%;
}

.choose-city-button .icon {
    margin: 0 0 0 0.5rem;

    max-width: 20%;
}

.choose-city-button .title {
    cursor: pointer;

    display: inline-block;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    line-height: 0.95;
    text-transform: uppercase;
    text-align: center;
    word-break: normal;

    padding: 0;
    margin: 0;

    min-width: 60%;
    max-width: 70%;

    z-index: 10;
}

.choose-city-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;

    font-size: 1.25rem;
    text-align: center;

    margin: 0 auto;

    width: 90%;
    height: 70vh;

    overflow: hidden;
}

.choose-city-list li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    width: 33%;

    position: relative;
}
.choose-city-list li.ready {
    cursor: pointer;
}

.choose-city-list li .city-icon {
    margin: 0;

    height: auto;
    width: 64px;
}

.choose-city-list li.coming-soon .city-icon {
    opacity: 0.15;
}
.choose-city-list li.coming-soon .city-name {
    opacity: 0.33;
}

.choose-city-list li .city-name {
    background: url(/static/global/svg/city.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    text-align: center;
    text-transform: uppercase;

    padding: 0.5rem 1rem 0.5rem 0.5rem;

    width: 24rem;
}

.choose-city-list li.ready:hover .city-name,
.choose-city-list li.chosen .city-name {
    background: url(/static/global/svg/city-chosen.svg);
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    color: #000;
    text-shadow: 1px 0 0 #000;
}

.choose-city-list li .city-status-text {
    background-color: #FFE57F;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    margin-left: 1vw;

    padding: 0.25rem 0.75rem;

    border-radius: 1rem;

    position: absolute;
/*    left: 23%;*/
    bottom: 0.1rem;
}

/* Горизонтальное меню событий */

.events-menu {
    display: inline-block;

    text-align: left;

    padding: 0 0.5rem;
    margin: 0;

    position: relative;
    top: -0.9rem;
    left: 13vw;

    width: 80%;

    z-index: 5;
}

.events-menu ul li {
    background-image: url(/static/global/svg/events-menu.svg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;

    display: inline-block;

    list-style: none;

    padding: 0.5rem 0;
    margin-right: 0.5rem;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    vertical-align: middle;

    margin-bottom: 0;
}

.events-menu ul li:hover,
.events-menu ul li.active {
    background-image: url(/static/global/svg/events-menu-active.svg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
.events-menu ul li a {
    padding: 0.5rem 2rem 0.5rem 1rem;
    text-decoration: none;
}

/* Содержание */

.content {
    display: block;

    font-size: 1rem;
    text-align: justify;
    
    padding: 0 1% 1% 2%;

    position: relative;
}

.content ul.menu {
    margin-bottom: 0.75rem;
}

.content ul.menu,
.content ul.menu > li > ul {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;

    list-style-type: none;

/*    height: 11rem;
    overflow: auto;*/
}

.content ul.menu > li {
    position: relative;
}

.content ul.menu > li > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    padding-left: 4.25rem;

    width: 100%;

    position: absolute;
    top: 0;
}

.content ul.menu > li > ul > li {
    width: 8.3%;
}

.content ul.menu > li > ul > li.active a span {
    color: #000;
}

.content ul.menu > li > a > span,
.content ul.menu > li > ul > li a span {
    display: inline-block;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;

    padding: 0.5rem 1rem;
}

.content ul.menu > li > a > span {
    background: url(/static/global/svg/background-yellow.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.content ul.menu > li > ul > li > a > span {
    background: url(/static/global/svg/background-grey.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    color: #FFF;
    text-align: center;

    width: 100%;
}

/* Блок маленьких вертикальных афиш */

.poster-small-vertical-body {
    display: block;

    text-align: left;

/*    margin-bottom: -1.0vw;*/

    width: 100%;
}

/* VIP-блок маленьких вертикальных афиш с надписью "Рекомендуем" */
.poster-small-vertical-body.vip:before,
.poster-small-vertical-body.vip::before {
    display: inline-block;
    content: 'Рекомендуем';

    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;

    padding-left: 0.5rem;

    position: absolute;
    top: 1rem;
    left: 2.5vw;
}

.poster-small-vertical-body.vip {
    background-image: url('/static/global/svg/poster-small-vertical-body-vip.svg'), url('/static/global/svg/header-left.svg');
    background-repeat: no-repeat;
    background-position: 50% 75%, top left;
    background-size: 98% 82%, 100% 100%;

    text-align: center;

    padding: 0.75rem 0.5rem 0 0.5rem;
}

.poster-small-vertical-body.vip .poster-small-vertical-min_price {
    left: 28%;
}
/* VIP-блок маленьких вертикальных афиш с надписью "Рекомендуем" */

.poster-small-vertical {
    display: inline-block;

   /* margin: 3vw 0.3vw 1vw 0.3vw;*/
    margin: 3rem 0.25rem 1rem 0.25rem;

    vertical-align: middle;

    width: 15.4%;
}

.poster-small-vertical a,
.poster-small-horizontal a {
    display: block;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.poster-small-vertical-image {
}

.poster-small-vertical-image a img {
    width: 100%;
    height: auto;

/*    box-shadow: 0.1rem 0.1rem black;*/
}

.poster-small-vertical-image a span {
    display: block;
    background: url(/static/global/svg/search-input.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    color: #000;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    width: 96%;
    padding: 0.25rem 0;
    position: absolute;
    bottom: 4%;
    left: 2%;

/*    box-shadow: 0.1rem 0.1rem black;*/
}

.poster-small-vertical-price {
    width: 100%;
    height: 3rem;
}
.poster-small-vertical-date {
    display: inline-block;

    background: url(/static/global/svg/poster-small-vertical-date.svg) no-repeat;

    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    width: 100%;
    height: 3rem;
}
.poster-small-vertical-date a {
    font-size: 0.9rem;

    text-align: left;
    text-transform: uppercase;

    padding: 0 0.25rem;

    float: left;

    width: 100%;

    position: relative;
    top: 0.9rem;
    left: 0;
}
.poster-small-vertical-min_price {
    display: inline-block;

    background: url(/static/global/svg/poster-small-vertical-min-price.svg) right no-repeat;

    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    text-align: center;

    width: 45%;
    height: 3rem;

    position: relative;
    top: -3.3rem;
    left: 55%;
}
.poster-small-vertical-min_price a {
    color: #000;

    width: 100%;

    font-size: 0.9rem;

    position: relative;
    top: 0.9rem;
    left: 0;
}

/* Блок маленьких горизонтальных афиш */

.poster-small-horizontal-body {
    display: block;

    text-align: left;

    width: 100%;
}

.poster-small-horizontal {
    display: inline-block;

    margin: 0 0.5%;
    margin-bottom: 0.75%;

    vertical-align: middle;

    width: 11%;
}
/*
.poster-small-horizontal:first-child {
    margin-left: 0;
}
.poster-small-horizontal:last-child {
    margin-right: 0;
}
*/
.poster-small-horizontal-image a img {
    width: 100%;
    height: auto;

/*  box-shadow: 0.1rem 0.1rem black;*/
}

/* Баннеры */

.banners-body {
    display: table;

    padding: 0.5% 1.25% 1% 1.25%;
    margin: 0;

    width: 100%;
/*    height: 88%;*/
}

.banners {
    display: table-cell;
/*
    display: -webkit-inline-box;
    display:    -moz-inline-box;

    display: -ms-inline-flexbox;

    display: -webkit-inline-flex;
    display: inline-flex;
*/
    background: url(/static/global/svg/banners.svg) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;

    text-align: left;
    vertical-align: top;

    padding: 1% 2%;

    width: 100%;
    height: 100%;

    z-index: 5;
}

.banners-left {
    width: 20%;
}
.banners-center {
    width: 60%;
}
.banners-right {
    width: 20%;
}

.banners .bannergroup {
    display: table;
    vertical-align: top;
    width: 100%;

    /* flexbox 2009 */
    display: -webkit-box;
    display:    -moz-box;
    /* flexbox 2011 */
    display: -ms-flexbox;
    /* flexbox */
    display: -webkit-flex;
    display: flex;

    /* flexbox 2009 */
    -webkit-box-orient: horizontal;
    -moz-box-orient:    horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction:    normal;
    /* flexbox 2011 */
    -ms-flex-flow:     row wrap;
    /* flexbox */
    -webkit-flex-flow: row wrap;
    -moz-flex-flow:    row wrap;
    flex-flow:         row wrap;

    /* flexbox 2009 */
    -webkit-box-pack: center;
    -moz-box-pack:    center;
    /* flexbox 2011 */
    -ms-justify-content:     center;
    /* flexbox */
    -webkit-justify-content: center;
    -moz-justify-content:    center;
    justify-content:         center;

    /* flexbox 2009 */
    -webkit-box-align: start;
    -moz-box-align:   start;
    /* flexbox 2011 */
    -ms-align-items:     flex-start;
    /* flexbox */
    -webkit-align-items: flex-start;
    -moz-align-items:    flex-start;
    align-items:         flex-start;

    width: 100%;
    height: 100%;
}

.banners .bannergroup .bannerheader {
    /* flexbox 2009 */
    -webkit-box-flex: 1;
    -moz-box-flex:    1;
    width: 100%;
    /* flexbox 2011 */
    -ms-flex:     0 1 100%;
    /* flexbox */
    -webkit-flex: 0 1 100%;
    -moz-flex:    0 1 100%;
    flex:         0 1 100%;

    color: #FFF;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    margin: 0.5rem 0 0.25rem 0;
}
.banners .bannergroup .banneritem {
    margin: 0.25rem 0;
}

.banners .banneritem img {
    margin: 0;
    padding: 0 5%;

    width: 100%;
    height: auto;

/*    vertical-align: middle;*/
}
.banners .banneritem img {
    margin-top: 5% 0;
}

.banners-left .bannergroup .bannerheader {
    margin-bottom: 1.15rem;
}

.banners-left .banneritem {
    display: inline-block;
    width: 25%;
    height: auto;

    /* flexbox 2009 */
    -webkit-box-flex: 1;
    -moz-box-flex:    1;
    width: 25%;
    /* flexbox 2011 */
    -ms-flex:     0 1 25%;
    /* flexbox */
    -webkit-flex: 0 1 25%;
    -moz-flex:    0 1 25%;
    flex:         0 1 25%;
}
.banners-center .banneritem {
    display: inline-block;
    width: 14%;
    height: auto;

    /* flexbox 2009 */
    -webkit-box-flex: 1;
    -moz-box-flex:    1;
    width: 16%;
    /* flexbox 2011 */
    -ms-flex:     0 1 16%;
    /* flexbox */
    -webkit-flex: 0 1 16%;
    -moz-flex:    0 1 16%;
    flex:         0 1 16%;
}
.banners-right .banneritem {
    display: inline-block;
    width: 42%;
    height: auto;
}

.banners-right .banneritem:nth-child(2) {
    /* flexbox 2009 */
    -webkit-box-flex: 1;
    -moz-box-flex:    1;
    width: 100%;
    /* flexbox 2011 */
    -ms-flex:     0 1 100%;
    /* flexbox */
    -webkit-flex: 0 1 100%;
    -moz-flex:    0 1 100%;
    flex:         0 1 100%;

    padding: 0 15%;
}
.banners-right .banneritem:nth-child(3),
.banners-right .banneritem:nth-child(4),
.banners-right .banneritem:nth-child(5) {
    /* flexbox 2009 */
    -webkit-box-flex: 1;
    -moz-box-flex:    1;
    width: 33%;
    /* flexbox 2011 */
    -ms-flex:     0 1 33%;
    /* flexbox */
    -webkit-flex: 0 1 33%;
    -moz-flex:    0 1 33%;
    flex:         0 1 33%;
}
.banners-right .banneritem:nth-child(6),
.banners-right .banneritem:nth-child(7) {
    /* flexbox 2009 */
    -webkit-box-flex: 1;
    -moz-box-flex:    1;
    width: 50%;
    /* flexbox 2011 */
    -ms-flex:     0 1 50%;
    /* flexbox */
    -webkit-flex: 0 1 50%;
    -moz-flex:    0 1 50%;
    flex:         0 1 50%;

    padding: 0 10%;
}

/* Поделиться Pluso */

.share.main .pluso,
.share.main .pluso div,
.share.main .pluso div .pluso-wrap {
    display: inline-block;

    width: 100%;
}

.share.main .pluso div .pluso-wrap {
    /* flexbox 2009 */
    display: -webkit-box;
    display:    -moz-box;
    /* flexbox 2011 */
    display: -ms-flexbox;
    /* flexbox */
    display: -webkit-flex;
    display: flex;

    /* flexbox 2009 */
    -webkit-box-orient: horizontal;
    -moz-box-orient:    horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction:    normal;
    /* flexbox 2011 */
    -ms-flex-flow:     row wrap;
    /* flexbox */
    -webkit-flex-flow: row wrap;
    -moz-flex-flow:    row wrap;
    flex-flow:         row wrap;

    /* flexbox 2009 */
    -webkit-box-pack: justify;
    -moz-box-pack:    justify;
    /* flexbox 2011 */
    -ms-justify-content:     space-around;
    /* flexbox */
    -webkit-justify-content: space-around;
    -moz-justify-content:    space-around;
    justify-content:         space-around;

    /* flexbox 2009 */
    -webkit-box-align: start;
    -moz-box-align:   start;
    /* flexbox 2011 */
    -ms-align-items:     flex-start;
    /* flexbox */
    -webkit-align-items: flex-start;
    -moz-align-items:    flex-start;
    align-items:         flex-start;

    padding: 0;
}
.share.main .pluso div .pluso-wrap a {
    margin: 0;
}
.pluso div .pluso-wrap .pluso-more {
    display: none;
}

/* Поделиться UpToLike */

.share-help {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.share {
    flex: 0 1 30%;
}

.share .label {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
.share .input {
    padding: 0.5rem 1rem 0.5rem 2rem;
    width: auto;
}

.order-telephone {
    flex: 0 1 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.belcanto-banner {
    flex: 0 1 20%;
    text-align: center;
}

/* Футер */

/* Нижнее меню */

.bottom-menu {
    display: inline-block;

    text-align: right;

    padding: 0 3% 0 0;

    width: 100%;

    position: relative;
    z-index: 10;
}

.bottom-menu ul {
}

.bottom-menu ul li {
    display: inline-block;

    list-style: none;

    margin: 0;
    padding: 0 1%;
}

.bottom-menu ul li a {
    color: #000;

    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* Логотипы внизу */

.bottom-left-logo {
    background:url(/static/global/svg/pic-bottom-left.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    position: absolute;
    width: 15%;
    height: 30%;

    z-index: 4;
}

.bottom-right-logo {
    background:url(/static/global/svg/pic-bottom-right.svg) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    position: absolute;
    right: 0;
    bottom: -70%;

    width: 15%;
    height: 10%;

    z-index: 4;
}

/* Авторские права */

.copyright {
    font:normal 11px Tahoma, Geneva, sans-serif;
    color:#fdce06;
    width:100%;
    text-align: center;
} 
.copyright a {
    font:normal 11px Tahoma, Geneva, sans-serif;
    color:#fdce06;
}

/* Галерея Phoca */

.small {
    display: none;
}

.category {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    letter-spacing: 0.05rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

#phocagallery table {
    width: 100%;
}

#phocagallery table tr td {
    padding: 0.5rem;
}

#phocagallery table tr td a img {
    display: block;
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.phocagallery-box-file {
    border: none !important;
}

.phocaimgdesc > .socbuttons {
    display: none !important;
}

.contentdescription {
    color: #777;
    font-size: 0.9rem;
    font-weight: bold;
}

#phocagallery a img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

#phocagallery-pane .phocagallery-box-file, 
#phocagallery .phocagallery-box-file, 
.phocagallery-box-file {
    display: inline-block;
    background: transparent;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 16%;
    position: relative;
    float: none;
}

#phocagallery .pgcenter, 
#phocagallery-upload .pgcenter, 
#phocagallery-subcategory-creating .pgcenter {
    font-size: 0.9rem;
    margin-top: 2rem;
}

    /* Пагинация */

#phocagallery .pgcenter div span,
#phocagallery .pgcenter div a {
    font-weight: bold;
    padding: 0 0.4%;
}
#phocagallery .pgcenter div a {
    color: #777;
}

#phocagallery .pgcenter .pginline {
    display: none;
}
#phocagallery .pgcenter div {
    display: block;
}

    /* Борьба с глюками при выравнивании категорий внутри галереи */

#phocagallery-categories-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
}

#phocagallery-categories-detail > div {
    flex: 0 1 20%;
    text-align: center;
}
