{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
{% load i18n static %}
    <title>{{ request.settings.domain.title }}{{ title }}</title>

    {# Общие CSS-файлы - загружаются в любом случае #}
    <link rel="stylesheet" type="text/css" href="{% static "global/css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "global/css/main.css" %}">
    {# Общие CSS-файлы - загружаются в любом случае #}
    <link rel="stylesheet" type="text/css" href="{% static "global/css/template.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "global/css/mq.css" %}">

    <link rel="stylesheet" href="{% static "global/js/lightbox2/lightbox.min.css" %}">

    {% if debug %}<link rel="stylesheet" type="text/css" href="{% static "global/css/dev.css" %}">{% endif %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta name="description" content="{{ request.settings.domain.description }}">
    <meta name="keywords" content="{{ request.settings.domain.keywords }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    {# Не индексировать тестовую версию сайта #}
    {% if debug %}<meta name="robots" content="noindex, nofollow">{% endif %}
    {# Не индексировать тестовую версию сайта #}
    <meta name="robots" body="NOODP">

{% if request.settings.webmaster %}
    <meta name="google-site-verification" content="{{ request.settings.webmaster.google }}">
    <meta name="yandex-verification" content="{{ request.settings.webmaster.yandex }}">
{% endif %}

    <meta name="city_config" content="{{ request.city_slug }}">

    {# `tel:` links NO auto-detection #}
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    {# `tel:` links NO auto-detection #}

    {# Метатеги для кнопок "Поделиться" #}
    <meta property="og:site_name" content="{{ request.settings.domain.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.full_url }}">
    <link rel="image_src" href="{% static "global/ico/android-chrome-192x192.png" %}">
    <meta property="og:image" content="{% static "global/ico/android-chrome-192x192.png" %}">
    <meta property="og:image:width"  content="192">
    <meta property="og:image:height" content="192">
    <meta property="og:image:type" content="image/png">
    <meta property="og:title" content="{{ request.settings.domain.title }}{{ title }}">
    <meta property="og:description" content="{{ request.settings.domain.description }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@bezantrakta">
    <meta property="twitter:title" content="{{ request.settings.domain.title }}{{ title }}">
    <meta property="twitter:description" content="{{ request.settings.domain.description }}">
    <meta property="twitter:image" content="{% static "global/ico/android-chrome-192x192.png" %}">
    <meta property="twitter:image:width"  content="192">
    <meta property="twitter:image:height" content="192">
    {# Метатеги для кнопок "Поделиться" #}

    {# favicons #}
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-57x57.png" %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-60x60.png" %}" sizes="60x60">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-72x72.png" %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-76x76.png" %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-114x114.png" %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-120x120.png" %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-144x144.png" %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-152x152.png" %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-180x180.png" %}" sizes="180x180">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-36x36.png" %}" sizes="36x36">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-48x48.png" %}" sizes="48x48">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-72x72.png" %}" sizes="72x72">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-144x144.png" %}" sizes="144x144">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-192x192.png" %}" sizes="192x192">
    <link rel="manifest" href="{% static "global/ico/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#FFCC00">
    <meta name="msapplication-TileImage" content="{% static "global/ico/mstile-144x144.png" %}">
    <meta name="theme-color" content="#FFE57F">
    <link rel="yandex-tableau-widget" href="{% static "global/yandex.manifest.json" %}">
    <link rel="icon" type="image/x-icon" href="{% static "global/ico/favicon.ico" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "global/ico/favicon.ico" %}">
    {# favicons #}
</head>
{% endspaceless %}
<body>
<a href="/"><div class="panorama"></div></a>

<div class="poster-left">
{% if big_vertical_left %}
    <div class="bannergroup">
    {% for event in big_vertical_left %}
        <div class="banneritem">
            <a href="{% url 'event:event' year=event.date|date:"Y" month=event.date|date:"m" day=event.date|date:"d" slug=event.slug %}" title="{{ event.date }} {{ event.time }} {{ event.title }} {{ event.venue }}">
                <img src="/media/{{ event.img }}" alt="{{ event.date }} {{ event.time }} {{ event.title }} {{ event.venue }}">
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>

<div class="poster-right">
{% if big_vertical_right %}
    <div class="bannergroup">
    {% for event in big_vertical_right %}
        <div class="banneritem">
            <a href="{% url 'event:event' year=event.date|date:"Y" month=event.date|date:"m" day=event.date|date:"d" slug=event.slug %}" title="{{ event.date }} {{ event.time }} {{ event.title }} {{ event.venue }}">
                <img src="/media/{{ event.img }}" alt="{{ event.date }} {{ event.time }} {{ event.title }} {{ event.venue }}">
            </a>
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>

<div class="body">

    <header class="header">

        <a href="/"><div class="pinnacle"></div></a>

        <span id="hamburger"></span>

        <div class="header-left">

            <div class="calendar">
                {% now "Y" as year %}
                {% now "n" as month %}
                {% load calendar %}
                {% calendar year month %}
            </div>

            <div class="top-menu">
            {% if menu_items.top_menu %}
                <ul>
                {% for item in menu_items.top_menu %}
                    <li{% if item.url == request.url_path %} class="active"{% endif %}>
                        <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>

            <a href="/"><img class="bzlogo" alt="Безантракта" src="{% static "global/svg/bzlogo.svg" %}"></a>

        {% if debug %}
            <p>domain_slug: {{ request.domain_slug }}</p>
            <p>domain_id: {{ request.domain_id }}</p>
            <p>city_title: {{ request.city_title }}</p>
            <p>city_slug: {{ request.city_slug }}</p>
            <p>url_path: {{ request.url_path }}</p>
            <p>url_full: {{ request.url_full }}</p>
        {% endif %}
        </div>

        <div class="header-right">

                <div class="search">

                    <span id="choose-city-button">
                    {{ request.city_title }}
                    {# Вывод выбранного города из списка всех городов по куке #}
                    {% comment %}
                        for city in cities:
                            {# Если кука создана - выводится название города по этой куке #}
                            if (cookie["city"]):
                                if cookie["city"] == $city["prefix"]:
                                    print(city["title"])
                            {# Если кука ещё не создана - выводится название города текущего сайта #}
                            else:
                                if (city == city["prefix"]):
                                    print($city["title"])
                    {% endcomment %}
                    {# Вывод выбранного города из списка всех городов по куке #}
                    </span>

                    {# Поиск #}
                    <div class="modul">
                        <div class="mod_top">
                            <form action="/search" method="GET">
                                <span>Поиск по сайту</span>
                                <input name="text" id="search" alt="Поиск" class="inputbox" type="text" size="20" value="{% if request.GET.text %}{{ request.GET.text }}{% endif %}">
                                <input type="submit" value="Поиск" class="button">
                            </form>
                        </div>
                        <div class="mod_bot"></div>
                    </div>
                    {# Поиск #}
                </div>

                <div class="posters-level1-body">
                {% if big_horizontal %}
                    <ul class="slider">
                    {% for event in big_horizontal %}
                        <li class="slide">
                            <a href="{% url 'event:event' year=event.date|date:"Y" month=event.date|date:"m" day=event.date|date:"d" slug=event.slug %}" title="{{ event.date }} {{ event.time }} {{ event.title }} {{ event.venue }}">
                                <img src="/media/{{ event.img }}" alt="{{ event.date }} {{ event.time }} {{ event.title }} {{ event.venue }}">
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>

        </div>

    </header>

    {# Категории событий #}
    <div class="events-menu">
        {% if categories %}
            <ul>
            {% for category in categories %}
                {% url 'event:category' slug=category.slug as category_url %}
                <li id="category_{{ category.slug }}" {% if category_url == request.url_path %}class="active"{% endif %}>
                    <a href="{{ category_url }}">{{ category.title }} ({{ category.event_count }})</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {# Категории событий #}

    <main class="content">
        {% block content_header %}{% endblock %}
        {% block content_body %}{% endblock %}
    </main>

    <div class="bottom-menu">
    {% if menu_items.bottom_menu %}
        <ul>
        {% for item in menu_items.bottom_menu %}
            <li>
                <a href="{{ item.url|default_if_none:"" }}" class="mainlevel" title="{{ item.title }}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="banners-body">

        <div class="banners banners-left">
        {% if banner_group.banner_social %}
            <div class="bannergroup">
                <div class="bannerheader">{{ banner_group.banner_social }}</div>
                {% for banner in banner_group_items.banner_social %}
                    <div class="banneritem">
                        {% if banner.href %}
                            <a href="{{ banner.href }}" title="{{ banner.title }}" target="_blank">
                        {% endif %}
                                <img src="/media/{{ banner.img }}" alt="{{ banner.title }}">
                        {% if banner.href %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>

        <div class="banners banners-center">
        {% if banner_group.banner_partners %}
            <div class="bannergroup">
                <div class="bannerheader">{{ banner_group.banner_partners }}</div>
                {% for banner in banner_group_items.banner_partners %}
                    <div class="banneritem">
                        {% if banner.href %}
                            <a href="{{ banner.href }}" title="{{ banner.title }}" target="_blank">
                        {% endif %}
                                <img src="/media/{{ banner.img }}" alt="{{ banner.title }}">
                        {% if banner.href %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>

        <div class="banners banners-right">
        {% if banner_group.banner_payment %}
            <div class="bannergroup">
                <div class="bannerheader">{{ banner_group.banner_payment }}</div>
                {% for banner in banner_group_items.banner_payment %}
                    <div class="banneritem">
                        {% if banner.href %}
                            <a href="{{ banner.href }}" title="{{ banner.title }}" target="_blank">
                        {% endif %}
                                <img src="/media/{{ banner.img }}" alt="{{ banner.title }}">
                        {% if banner.href %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>

    </div>

</div>

<footer class="footer">
    
    <div class="counters">
    {% if request.settings.counter.google %}
        {# Google.Analytics #}
        <div id="google-analytics-counter">
            <script type="text/javascript">
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              ga('create', '{{ request.settings.counter.google }}', 'auto');
              ga('send', 'pageview');
            </script>
        </div>
        {# Google.Analytics #}
    {% endif %}
    {% if request.settings.counter.yandex %}
        {# Яндекс.Метрика #}
        <div id="yandex-metrika-counter">
            <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter{{ request.settings.counter.yandex }} = new Ya.Metrika({
                            id:{{ request.settings.counter.yandex }}, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true
                        });
                    } catch(e) {}
                });
                var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n);};
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else {f();}
            })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="//mc.yandex.ru/watch/{{ request.settings.counter.yandex }}" style="position:absolute; left:-9999px;" alt=""></div></noscript>
        </div>
        {# Яндекс.Метрика #}
    {% endif %}
    {% if request.settings.counter.uptolike %}
        {# UpToLike - кнопки "Поделиться" #}
        <div id="uptolike-counter">
            <script type="text/javascript">(function(w,doc) {
            if (!w.__utlWdgt ) {
                w.__utlWdgt = true;
                var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
            }})(window,document);
            </script>
        </div>
        {# UpToLike - кнопки "Поделиться" #}
    {% endif %}
    {% if request.settings.counter.vkontakte %}
        {# Пиксель вКонтакте #}
        <div id="vkontakte_pixel">
            <script type="text/javascript">
                (window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p={{ request.settings.counter.vkontakte }}';
            </script>
        </div>
        {# Пиксель вКонтакте #}
    {% endif %}
    </div>

    <div class="bottom-logos"></div>

</footer>

<script type="text/javascript" src="{% static "global/js/jquery/jquery-1.9.1.min.js" %}"></script>

<script type="text/javascript" src="{% static "global/js/bxslider/jquery.bxslider.min.js" %}"></script>
<script type="text/javascript" src="{% static "global/js/bxslider/carousel.js" %}"></script>

{# Подключение лайтбоксов для изображений #}
<script type="text/javascript" src="{% static "global/js/lightbox2/lightbox.min.js" %}" defer></script>
<script type="text/javascript">
lightbox.option({
    'alwaysShowNavOnTouchDevices': true,
    'fadeDuration': 200,
    'resizeDuration': 200,
    'wrapAround': true
})
</script>
{# Подключение лайтбоксов для изображений #}

{# Кастомный лайтбокс для выбора городов #}
<script type="text/javascript" src="cities.js" defer></script>
<div id="choose-city-modal" class="modal" style="display: none;">
    <div>
        <div class="modal-body">
        {# <span class="close">&times;</span> #}
            <div>
                <img class="bzlogo" src="{% static "global/svg/bzlogo.svg" %}">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                {% comment %}
                <ul id="choose-city-list">
                    for city in cities:
                        {# Если город найден в cookie `city` - присвоить пункту с ним класс `chosen` #}
                        city_chosen = ($_cookie['city'] and cookie['city'] == city['prefix']) ? 'chosen' : "";
                        city_status = city["status"]
                        data_city   = (city["status"] == "ready" ? 'data-city="{{ city["prefix"] }} : "")
                        city_status_text = (city["status"] == "coming-soon" ? "скоро открытие" : "")

                        <li class="{{ city_status }} {{ city_chosen }}" data-city="{{ data_city }}">
                            <img class="city-icon" src="{% static "global/cities/{{ city["prefix"] }}.png" %}">
                            <span class="city-name">{{ city["title"] }}</span>
                            <span class="city-status-text">{{ city_status_text }}</span>
                        </li>
                    {# endfor #}
                </ul>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
{# Кастомный лайтбокс для выбора городов #}

<script type="text/javascript">
{# Скрытие меню на небольших экранах #}
function menuToggle() {
    if (window.innerWidth <= 480) {
        $('.top-menu').hide();
        $('#hamburger').click(function(event) {
            $('.top-menu').toggle();
        });
    } else {
        $('.top-menu').show();
    }
}

$(document).ready(menuToggle());
$(window).on('orientationchange', menuToggle());
$(window).on('resize', menuToggle());
</script>

{# Вывод размеров viewport в dev-версии сайта #}
{% if debug %}
<script type="text/javascript">
$(document).ready(function(e) {
    $('body').prepend('<span class="viewport" style="background: #FFF; border: 2px dotted #000; border-radius: 1rem; font-weight: bold; padding: 0.5rem; position: fixed; bottom: 0; right: 0; z-index: 10000;"></span>');
    showViewportSize();    
});
$(window).resize(function(e) {
    showViewportSize();
});

function showViewportSize() {
    var viewport  = ( $(window).width() + 17 ) + ' x ' + $(window).height();                  
    $('.viewport').text(viewport);

}
{% endif %}
</script>
{# Вывод размеров viewport в dev-версии сайта #}

</body>
</html>