/* Для отладочной информации в тестовой версии сайта */

.content pre {
    display: block;
    background: #F5F5F5;
    border: 1px dashed #000;
    font-size: 0.75rem;
    overflow: auto;
    width: 65vw;
    height: 20vw;
}

div {
    border: 1px dotted grey;
}
