@charset "utf-8";

/* Отключение боковых баннеров для нешироких экранов */

@media all and (min-width: 1px) and (max-width: 1500px) {

    html {
        font-size: 16px;
    }

    .events-menu {
        text-align: center;

        left: 0;

        width: 100%;
    }

    .poster-left, .poster-right,
    .bottom-left-logo, .bottom-right-logo {
        display: none;
    }

    .panorama {
        background-size: 100% 85%;
        -moz-background-size: 100% 85%;
        -webkit-background-size: 100% 85%;

        background-position: center top;

        width: 100%;
    }

    .top,
    .body {
        width: 100%;
    }

    .bottom-menu {
        width: 100%;
    }

}

@media all and (max-width: 1180px) {
    .choose-city-list li {
        width: 50%;
    }
}

@media all and (max-width: 1180px) {

    html {
        font-size: 15px;
    }

    .panorama {
        background-size: 100% 75%;
        -moz-background-size: 100% 75%;
        -webkit-background-size: 100% 75%;

        height: 4rem;
    }

    .poster-small-vertical a {
        letter-spacing: -0.05rem;
    }

}

@media all and (max-width: 1080px) {

    html {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .share {
        flex: 0 1 40%;
    }
    .order-telephone {
        flex: 0 1 45%;
    }
    .belcanto-banner {
        flex: 0 1 15%;
    }

}

@media all and (max-width: 980px) {

    html {
        font-size: 13px;
    }

    .top {
        height: 4.5rem;
    }

}

@media all and (max-width: 900px) {

    .events-menu {
        top: -0.1rem;
    }

    .poster-small-vertical {
        width: 14.8%;
    }
    .poster-small-vertical-date a,
    .poster-small-vertical-min_price a {
        letter-spacing: -0.085rem;
    }
    .poster-small-vertical-min_price a {
    }

    .poster-small-horizontal {
        width: 10.6%;
    }

    h1 {
        font-size: 1.25rem;
    }

    .banners-left,
    .banners-center,
    .banners-right {
        width: 33%;
    }

    .banners-left  .banneritem {
        flex: 0 1 auto;
    }
    .banners-center .banneritem {
        flex: 0 1 33%;
    }
    .banners-right .banneritem {
        flex: 0 1 50%;
    }

}

@media all and (max-width: 800px) {

    html {
        font-size: 12px;
    }

    .choose-city-list li {
        width: 100%;
    }

    .header-left .bzlogo {
        height: 3.5rem;

        position: absolute;
        top: -4.5rem;
        left: 165%;
    }

    .poster-small-vertical-body.order1 .poster-small-vertical-min_price {
        left: 0;
    }

    .poster-small-vertical-price {
        height: 4rem;
    }

    .poster-small-vertical-date {
        display: block;

        width: 100%;
        height: 50%;
    }
    .poster-small-vertical-date a {
        letter-spacing: 0;
        text-align: center;

        width: 100%;

        top: 0.5rem;
    }
    .poster-small-vertical-min_price {
        display: block;

        width: 100%;
        height: 50%;

        left: -0.2rem;
        top: -0.75rem;
    }
    .poster-small-vertical-min_price a {
        letter-spacing: 0.025rem;
        
        top: 0.25rem;
    }

    .share-help {
        flex-direction: column;
    }
    .share,
    .order-telephone,
    .belcanto-banner {
        flex: 0 1 100%;
        text-align: center;
        width: 100%;
    }

}

@media all and (max-width: 560px) {

    html {
        font-size: 11px;
    }

/*    .search form {
        height: 1.6rem;
    }*/

    .choose-city-button .icon {
        max-width: 25%;
    }

    .poster-small-vertical-date a,
    .poster-small-vertical-min_price a {
        letter-spacing: -0.085rem;
    }

}

@media all and (max-width: 480px) {

    .body {
        margin-bottom: -4rem;
    }

    .panorama {
        background-size: 90% 70%;
        -moz-background-size: 90% 70%;
        -webkit-background-size: 90% 70%;

        height: 2.5rem;
    }

    .header,
    .header-left,
    .header-right {
        padding: 1% 0;
    }

    .hamburger {
        display: inline-block;

        cursor: pointer;

        background: url(/static/global/svg/hamburger.svg), #FFF;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;

        border-radius: 0 0 0 1rem;

        width:  4rem;
        height: 4rem;

        position: absolute;
        top: 0;
        right: 0;

        z-index: 5;
    }

    .header-left {
        background: transparent;

        width: 100%;
        height: 25rem;

        position: absolute;
        top: 5rem;
    }

    .top-menu {
        z-index: 7;
    }

    .calendar {
        display: none;
    }

    .top-menu {
        background: url(/static/global/svg/header-left.svg);
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;

        padding: 2%;

        width:  100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }
    .top-menu > ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;

        height: 100%;
    }
    .top-menu > ul > li > a:hover,
    .top-menu > ul > li > #active_menu {
        background: url(/static/global/svg/events-menu-active.svg) no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;

        color: #000;
    }

    .header-left .bzlogo {
        left: 40%;
    }

    .header-right {
        width: 100%;
    }

    .modal .modal-body .bzlogo {
        width: 75%;
    }

    .search {
        padding: 0 2vw;

        height: auto;
    }

    .search form {
        height: 1.6rem;
    }

    .bx-wrapper {
        width: 96%;
    }

    .banners-body {
        display: none;
    }

    .events-menu {
        display: block;

        padding: 0;

        position: relative;
        top: -0.15rem;
        left: 0;
    }
    .events-menu > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .label,
    .input {
        padding: 1rem 1rem 1rem 2rem;

        width: 98%;

        left: 0;
    }

    .poster-small-vertical-body.order1 {
        background-position: 50% 80%, top left;
        background-size: 98% 92%, 100% 100%;
        padding: 2rem 0.5rem 1rem 0.5rem;
    }

    .poster-small-vertical-body.order1 .poster-small-vertical-min_price {
        left: -0.25rem;
    }

    .poster-small-vertical {
        display: inline-block;

        margin: 2rem 0.25rem 0 0.25rem;

        width: 29.25%;
    }

    .poster-small-vertical-date a,
    .poster-small-vertical-min_price a {
        letter-spacing: -0.01rem;
    }

    .poster-small-horizontal {
        width: 22.5%;
    }

    .share,
    .order-telephone {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
    }
    .share > span,
    .order-telephone > span {
        display: block;

        font-size: 1rem !important;

        position: static;
    }
    .bzlogo-mask {
        display: none !important;
    }

    .share span {
        padding: 1.25rem;
    }

    .banners-body,
    .banners {
        display: block;

        width: 100%;
    }

    .banners {
        padding: 4%;
    }

    .bannerheader {
        padding: 0.5rem 0;
        margin-bottom: 0 !important;
    }

    .banners .banneritem {
        text-align: center;
    }

    .banners .banneritem img {
        width: 80%;
    }

}

@media all and (max-width: 380px) {

    html {
        font-size: 10px;
    }

    .modal .modal-body .bzlogo {
        width: 95%;
    }

    .poster-small-vertical {
        width: 28.7%;
    }

    .poster-small-horizontal {
        width: 22.25%;
    }

    .bottom-menu {
        display: block;

        margin: 1rem 0;
    }
    .bottom-menu > ul > li {
        display: block;

        width: 100%;
    }

}