{% extends "admin/base.html" %}
{% load i18n static admin_urls compress %}

{% block title %}
    {% trans "bezantrakta_admin" %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
    {% if request.user.is_superuser %}
        {% compress css inline %}
        <style type="text/css">
        body:before {
            display: block;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            padding: 0;
            color: #fff;
            width: 100%;
            height: 20px;
            position: fixed;
            top: 0;
            z-index: 10000;
            content: '{{ ENVIRONMENT_NAME }}';
            background-color: {{ ENVIRONMENT_COLOR }};
        }
        body {
            margin-top: 20px !important;
        }
        </style>
        {% endcompress %}
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/custom.css" %}">

    {# Контакты разработчика #}
    <meta name="developer" content="Michail Vasilyev (vmm)">
    <link rel="developer" content="https://github.com/vmm86">
    {# Контакты разработчика #}
{% endblock %}

{% block branding %}
    <div id="branding_logo">
        <a href="{% url "admin:index" %}" title="{% trans "bezantrakta_admin" %}">
            <img id="site-name" src="{% static "global/svg/bzlogo-transparent.svg" %}" alt="{% trans "bezantrakta_admin" %}">
        </a>
    </div>
    {% if user.is_authenticated %}
    <div id="branding_choose_domain">
        {% load choose_domain %}
        {% choose_domain %}
    </div>
    {% endif %}
    <div class="warning">{% trans 'choose_city_warning' %}</div>
{% endblock %}

{% block content_title %}
    <h1>{% trans 'bezantrakta_admin' %}{% if debug %} TIME_ZONE: {{ TIME_ZONE }}{% endif %}</h1>
    <p>{% trans 'domain_icon_help_text' %}</p>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "global/js/jquery/3.2.1/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "global/js/jscookie/2.1.4/js.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "global/js/waypoints/4.0.1/lib/jquery.waypoints.min.js" %}"></script>

    {% compress js inline %}
    <script type="text/javascript">
        {% include "admin/custom.js" with bezantrakta_admin_domain_id=bezantrakta_admin_domain_id %}
    </script>
    {% endcompress %}

    {% if debug %}
        {# Вывод размеров viewport в dev-версии сайта #}
        <script type="text/javascript">{% include "viewport_size_debugger.js" %}</script>
    {% endif %}

{% endblock %}
