{% extends "admin/index.html" %}
{% load i18n log %}

{# Список последних действий для всех пользователей #}
{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
            {% get_admin_log 20 as admin_log %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
                <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    <a class="object_repr deleted">{{ entry.object_repr }}</a>
                {% else %}
                    <a class="object_repr" href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a></span>
                {% endif %}
                {% if entry.content_type %}
                    <span class="content_type mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="content_type_unknown mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
                    <span class="action_time mini quiet">{{ entry.action_time }}</span>
                    <span class="user mini">{{ entry.user }}</span>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
