{% extends "base.html" %}
{% load i18n static tz compress %}

{% block head_title %}
    Контактные данные покупателя и способы заказа билетов
{% endblock %}

{% block head_description %}
    Ввод контактных данных покупателем (ФИО, email, телефон) и выбор способа получения и оплаты билетов
{% endblock %}

{% block head_keywords %}
    оформление заказа, чекаут, контактные данные, фио, email, телефон, способы заказа билетов, способы получения билетов, способы оплаты билетов
{% endblock %}

{% block head_stylesheet %}
    {# Общие CSS-файлы - загружаются в любом случае #}
    <link rel="stylesheet" type="text/css" href="{{ request.url_protocol_domain }}{% static "global/css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ request.url_protocol_domain }}{% static "global/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{{ request.url_protocol_domain }}{% static "global/css/mq-order.css" %}">
    {# Общие CSS-файлы - загружаются в любом случае #}

    <link rel="stylesheet" href="{{ request.url_protocol_domain }}{% static "global/js/lightbox2/lightbox.min.css" %}">
{% endblock %}

{% block body %}
    <div class="body">
        <main class="content">


            {% include "order/order_progress.html" with active="step2" %}


            {% include "event/event_title_date_time.html" with active="step2" event=event %}


            <div class="order-header step2">
                <div id="basket-container" class="step2">
                    <h3 id="chosen-tickets-header">Выбранные места</h3>
                    <ul id="chosen-tickets"></ul>

                    <h3 id="overall-header">Всего</h3>
                    <p id="overall">
                        <span id="overall-text">Билетов <span id="count-chosen"></span> на сумму <span id="total-sum">{{ order_total }}</span> <img class="ruble-sign" src="{% static "global/ico/ruble_sign.svg" %}"></span>
                    </p>

            {% if ticket_service.settings.order.courier_cash %}
                {% if ticket_service.settings.courier_price > 0 %}
                    <div id="overall-courier">
                        <h3>Всего с учётом доставки курьером</h3>
                        <p>
                            К оплате <span id="total-sum-courier">{{ order_total_plus_courier_price }}</span> <img class="ruble-sign" src="{% static "global/ico/ruble_sign.svg" %}">
                        </p>
                    </div>
                {% endif %}
            {% endif %}

            {% if ticket_service.settings.order.self_online or ticket_service.settings.order.email_online %}
                {% if payment_service.settings.commission > 0 %}
                    <div id="overall-online">
                        <h3>Всего с учётом комиссии платёжной системы и сервисного сбора</h3>
                        <p>
                            К оплате <span id="total-sum-online">{{ order_total_plus_commission }}</span> <img class="ruble-sign" src="{% static "global/ico/ruble_sign.svg" %}">
                        </p>
                    </div>
                {% endif %}
            {% endif %}

                    {# Описание процесса заказа билетов #}
                    {% include "order/legend_text.html" with ticket_service=ticket_service %}
                </div>
            </div>

            <br>

            {% include "order/checkout_form.html" with checkout_form_action=checkout_form_action ticket_service=ticket_service payment_service=payment_service %}

            {% if debug %}
            <br><br>
            order_tickets: <pre>{{ order_tickets|pprint }}</pre>
            <br><br>
            order_count: <pre>{{ order_count|pprint }}</pre>
            <br><br>
            order_total: <pre>{{ order_total|pprint }}</pre>
            <br><br>
            order_total_plus_commission: <pre>{{ order_total_plus_commission|pprint }}</pre>
            <br><br>
            customer: {{ customer }}
            <br><br>
            order_types_active: {{ order_types_active }}
            <br><br>
            event: <pre>{{ event|pprint }}</pre>
            <br><br>
            ticket_service: <pre>{{ ticket_service|pprint }}</pre>
            <br><br>
            payment_service: <pre>{{ payment_service|pprint }}</pre>
            <br><br>
            {% endif %}
        </main>
    </div>
{% endblock %}

{% block scripts %}
{# Скрипты для работы с заказом билетов #}
    <script type="text/javascript" src="{% static "global/js/cookie/js.cookie.js" %}"></script>


    {% compress js inline %}
    <script type="text/javascript">
    {# Базовый функционал процесса заказа билетов #}
    $(document).ready(function() {
        {% include "order/order_scripts.js" with active="step2" event=event ticket_service=ticket_service order_total_plus_commission=order_total_plus_commission delivery_price=delivery_price customer=customer %}
        prepare_order_onload();
        start_heartbeat();
    });
    </script>
    {% endcompress %}

    {% if not debug %}
    {% compress js inline %}
    <script type="text/javascript">
        {# Отправка событий для отслеживания заказов в Яндекс.Метрика и Google.Analytics #}
        {% include "seo/order_counter_events.js" with active="step2" %}
    </script>
    {% endcompress %}
    {% endif %}

{% endblock %}