<form id="checkout-form" action="{{ checkout_form_action }}" method="POST">
    {% csrf_token %}

    {# Реквизиты покупателя #}
    <div class="customer-data">
        {#<p>Укажите свои контактные данные:</p>#}

        <p class="input-container step2">
            <label id="customer-name-label" class="label yellow step2" for="customer-name">Фамилия Имя</label>
            <input id="customer-name" class="input grey step2" type="text" name="customer_name" required="required" placeholder="Фамилия Имя Отчество" max="48" maxlength="48" value="{{ customer.name }}">
        </p>

        <p class="input-container step2">
            <label id="customer-email-label" class="label yellow step2" for="customer-email">Электронная почта</label>
            <input id="customer-email" class="input grey step2" type="email" name="customer_email" required="required" placeholder="primer@mail.ru" max="32" maxlength="32" value="{{ customer.email }}">
        </p>

        <p class="input-container step2">
            <label id="customer-phone-label" class="label yellow step2" for="customer-phone">Контактный телефон</label>
            <input id="customer-phone" class="input grey step2" type="tel" name="customer_phone" required="required" placeholder="81234567890" pattern="[0-9]{7,}" min="7" max="20" maxlength="20" value="{{ customer.phone }}">
        </p>
    </div>

{% if ticket_service.settings.order %}
    {# Согласие на обработку персональных данных #}
    <div class="input-container agree-container">
        <input id="agree" type="checkbox" name="customer_agree" checked="checked">
        <img border="0" style="border: 0; border-style: none">
        <div class="agree-text">
            Оформляя заказ, Вы подтверждаете своё согласие на обработку Ваших персональных данных согласно <a href="/oferta" target="_blank">договору оферты</a>{% if request.domain_settings.emailing.is_working %}, а также получение почтовой рассылки о новых мероприятиях bezantrakta.ru{% endif %}. В свою очередь мы гарантируем, что Ваши персональные данные будут использоваться исключительно при оформлении заказа и не будут переданы третьим лицам.
        </div>
    </div>
{% endif %}

    {# Выбор способа получения и оплаты билетов #}
    <div class="input-container">

        {#<p>Выберите способ оплаты и получения билетов:</p>#}

{% if payment_service %}
    {% if ticket_service.settings.order.self_online and event.settings.order.self_online %}
        <div class="input-container">
                <input id="customer-delivery-payment" class="self_online" type="radio" name="customer_order_type" value="self_online">
                <img border="0" style="border: 0; border-style: none">
                <label for="customer-delivery-payment" class="customer-delivery step2"> Оплатить онлайн и получить в кассе {% if request.city_title %}(г. {{ request.city_title }}){% endif %}</label>
                <br>
        </div>
    {% endif %}

    {% if ticket_service.settings.order.email_online and event.settings.order.email_online %}
        <div class="input-container">
                <br>
                <input id="customer-delivery-eticket" class="email_online" type="radio" name="customer_order_type" value="email_online">
                <img border="0" style="border: 0; border-style: none">
                <label for="customer-delivery-eticket" class="customer-delivery step2"> Оплатить онлайн и получить электронный билет на email</label>
        </div>
    {% endif %}
{% endif %}

    {% if ticket_service.settings.order.courier_cash and event.settings.order.courier_cash %}
        <div class="input-container">
                <br>
                <input id="customer-delivery-courier" class="courier_cash" type="radio" name="customer_order_type" value="courier_cash">
                <img border="0" style="border: 0; border-style: none">
                <label for="customer-delivery-courier" class="customer-delivery step2"> Доставка курьером {% if request.city_title %}(г. {{ request.city_title }}){% endif %}</label>
                <br>
        </div>
    {% endif %}

    {% if ticket_service.settings.order.self_cash and event.settings.order.self_cash %}
        <div class="input-container">
                <br>
                <input id="customer-delivery-self" class="self_cash" type="radio" name="customer_order_type" value="self_cash">
                <img border="0" style="border: 0; border-style: none">
                <label for="customer-delivery-self" class="customer-delivery step2"> Забронировать и выкупить в кассе {% if request.city_title %}(г. {{ request.city_title }}){% endif %}</label>
                <br>
        </div>
    {% endif %}

    </div>

{% if ticket_service.settings.order %}
    <div class="input-container">
        {# Кнопки "Назад" и "Подтвердить" #}
        <div class="order-buttons step2">
            <div class="button-prev">
                <a id="back" class="step2" href="javascript: history.go(-1)">Назад</a>
            </div>

            <div class="button-next">
                <input id="isubmit" type="submit" value="Подтвердить">
            </div>
        </div>
    </div>
{% endif %}

{% if ticket_service.settings.order %}
    {# Сопроводительная информация к способам получения и оплаты билетов #}
    <div class="input-container order-options-description">

        {% if ticket_service.settings.order.self_online and event.settings.order.self_online %}
            <div class="online-info payment-info step2">
                {{ ticket_service.settings.order_description.self_online|safe }}
                <br>
                {{ payment_service.settings.description|safe }}
            </div>
        {% endif %}

        {% if ticket_service.settings.order.email_online and event.settings.order.email_online %}
            <div class="online-info eticket-info step2">
                {{ ticket_service.settings.order_description.email_online|safe }}
                <p>После успешного подтверждения оплаты PDF-файлы с билетами будут отправлены на указанную Вами электронную почту.<br>Корректно указывайте свой адрес электронной почты! В противном случае Вам необходимо связаться с администратором сайта для повторной отправки билетов.
                <br>
                Полученные электронные билеты необходимо <strong>распечатать на листе формата А4</strong> и предъявить при входе на мероприятие. <strong>Билет на листе A4 обрезать не нужно</strong>! Для удобства его можно сложить по пунктирным линиям сгиба.
                <br>
                <strong>В целях Вашей безопасности не сообщайте номер оплаченного заказа посторонним лицам и не выкладывайте изображения билетов в социальные сети – по ним могут пройти посторонние люди!</strong></p>
                <br>
                <p>Возврат билетов осуществляется только в случае переноса или отмены мероприятия, а также по согласованию с организатором.</p>
                <br>
                {{ payment_service.settings.description|safe }}
            </div>
        {% endif %}

        {% if ticket_service.settings.order.courier_cash and event.settings.order.courier_cash %}
            <div class="customer-address step2">
                <label id="customer-delivery-self-label" class="label yellow" for="customer-address"> Адрес</label>
                <input id="customer-address" class="input grey" type="text" name="customer_address" rows="6" placeholder="{{ request.city_title }}" value="{{ address }}">
                <p>Курьер свяжется с Вами и обсудит удобное время доставки.</p>
                {% if ticket_service.settings.courier_price > 0 %}
                    <p>Стоимость доставки {{ ticket_service.settings.courier_price }} р.</p>
                {% endif %}
                {{ ticket_service.settings.order_description.courier_cash|safe }}
           </div>
        {% endif %}

        {% if ticket_service.settings.order.self_cash and event.settings.order.self_cash %}
            <div class="ticket-offices-contacts step2">
                {{ ticket_service.settings.order_description.self_cash|safe }}
            </div>
        {% endif %}

    </div>
{% endif %}

    <input id="delivery" type="hidden" name="customer_delivery" value="{{ delivery }}">
    <input id="payment"  type="hidden" name="customer_payment"  value="{{ payment }}">
</form>