<div class="order-progress {{ active }}">
    <div class="order-progress-step1">
        <div class="order-progress-step1-body {% if active == "step1" %}active{% endif %}">
            <span>Шаг 1.</span> <span>Выбор билетов</span>
        </div>
    </div>
    <div class="order-progress-step2">
        <div class="order-progress-step2-body {% if active == "step2" %}active{% endif %}">
            <span>Шаг 2.</span> <span>Оформление билетов</span>
        </div>
    </div>
    <div class="order-progress-step3">
        <div class="order-progress-step3-body {% if active == "step3" %}active{% endif %}">
            <span>Шаг 3.</span> <span>Подтверждение оформления</span>
        </div>
    </div>
</div>