.poster-big-horizontal-body {
    display: inline-block;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 0.5vw 0;
    margin: 0;

    width: 100%;

    overflow: hidden;

    opacity: 0;
    transition: opacity 0.05s linear;
}

/** THEME
===================================*/

.bxslider {
    margin: 0;
    padding: 0;
}

ul.bxslider {
    list-style: none;
}

.bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
}

/* PAGER */

.bx-wrapper {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

.bx-wrapper .bx-viewport {
    border: none;
    left: 0;
    background: transparent;

    overflow: hidden;
}

.bx-wrapper .bx-viewport ul {
    list-style-type: none;

    overflow: hidden;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    top: 0;
    width: 100%;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: url('/static/global/svg/poster-big-horizontal-pager.svg') no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

    text-indent: -9999px;
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url('/static/global/svg/poster-big-horizontal-pager-active.svg') no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.bx-wrapper .bx-pager {
    color: #666;
    font-size: 1rem;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    padding: 2% 0;
    margin: 0 auto;
    top: 0;
    bottom: unset;
}
