{% extends "base.html" %}
{% load tz %}

{% block content_header %}
{% for category in categories %}
    {% url 'event:category' slug=category.slug as category_url %}
    {% if category_url == request.url_path %}
        <h1>{{ category.title }}</h1>
    {% endif %}
{% endfor %}
{% endblock %}

{% block content_body %}
<div class="poster-small-vertical-body">
{% for event in category_events %}
{% localtime on %}
    {% include "event/small_vertical_posters.html" with event=event %}
{% endlocaltime %}
{% endfor %}
</div>

{% if debug %}
<br><br>
today: {{ today|pprint }} {{ today }}
<br>
categories: {{ categories|pprint }}
<br><br>
{% endif %}
{% endblock %}
