{% if request.domain_settings.counter.google != "" %}
    {# Google.Analytics #}
    <div id="google-analytics-counter">
        <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ request.domain_settings.counter.google }}', 'auto');
          ga('send', 'pageview');
        </script>
    </div>
    {# Google.Analytics #}
{% endif %}
{% if request.domain_settings.counter.yandex != "" %}
    {# Яндекс.Метрика #}
    <div id="yandex-metrika-counter">
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter{{ request.domain_settings.counter.yandex }} = new Ya.Metrika({
                        id:{{ request.domain_settings.counter.yandex }}, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true
                    });
                } catch(e) {}
            });
            var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n);};
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else {f();}
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/{{ request.domain_settings.counter.yandex }}" style="position:absolute; left:-9999px;" alt=""></div></noscript>
    </div>
    {# Яндекс.Метрика #}
{% endif %}
{% if request.domain_settings.counter.uptolike != "" %}
    {# UpToLike - кнопки "Поделиться" #}
    <div id="uptolike-counter">
        <script type="text/javascript">(function(w,doc) {
        if (!w.__utlWdgt ) {
            w.__utlWdgt = true;
            var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
        }})(window,document);
        </script>
    </div>
    {# UpToLike - кнопки "Поделиться" #}
{% endif %}
{% if request.domain_settings.counter.vkontakte != "" %}
    {# Пиксель вКонтакте #}
    <div id="vkontakte_pixel">
        <script type="text/javascript">
            (window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p={{ request.domain_settings.counter.vkontakte }}';
        </script>
    </div>
    {# Пиксель вКонтакте #}
{% endif %}
