{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% trans "bezantrakta_admin" %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% if ENVIRONMENT_NAME != "production" %}
<style type="text/css">
body:before,
body:after {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 5px 0;
    color: #fff;
    content: '{{ ENVIRONMENT_NAME }}';
    background-color: {{ ENVIRONMENT_COLOR }};
}
</style>
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/custom.css" %}">
{% endblock %}

{% block branding %}
<a href="{% url "admin:index" %}" title="{% trans "bezantrakta_admin" %}">
    <img id="site-name" src="{% static "global/svg/bzlogo-transparent.svg" %}" alt="{% trans "bezantrakta_admin" %}">
</a>
{# <h1 id="site-name"><a href="{% url "admin:index" %}">{% trans "bezantrakta_admin" %}</a></h1> #}
{% endblock %}
