@charset "utf-8";

/* Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic');

/* Отдельный стиль для создания схем залов */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -o-box-sizing:      border-box;
    -ms-box-sizing:     border-box;
    box-sizing:         border-box;

    margin: 0;
}

html {
    color:#000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    font-weight: normal;

    padding:0;
    margin:0;

    width:100%;
    height:100%;
}

.stagehall {
    border-collapse: collapse;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    width: 100%;
}
.stagehall td {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;

    font-size: 0.8rem;
    font-weight: normal;

    padding: 0.1rem;
}
.stagehall .stage,
.stagehall .sector,
.stagehall .row, 
.stagehall .rows,
.stagehall .seat {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0;
    height: 100%;
}
.stagehall .stage {
    border: 1px solid #000 !important;

    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
}
.stagehall .seat  {
    background: #ECEFF1;

    border: 1px solid #000 !important;
}

.bt {border-top:    2px solid #000;}
.br {border-right:  2px solid #000;}
.bb {border-bottom: 2px solid #000;}
.bl {border-left:   2px solid #000;}

.stagehall .free,
.stagehall .selected {
    cursor: pointer;

    font-weight: bold;
}

.box { display: inline-block; width: 14px; height: 14px; border: 1px solid #000; vertical-align: -1px;}

.free         { color: #ECEFF1; text-shadow: 0.0625rem 0.09rem 0 #000; }
.free:hover,
.selected     { background-color: #FFEB3B; color: #000; text-shadow: 0.0625rem 0.09rem 0 #FFF; } /* yellow 500 */

.free.color1  { background-color: #F44336; } /* red 500 */
.free.color2  { background-color: #4CAF50; } /* green 500 */
.free.color3  { background-color: #2196F3; } /* blue 500 */
.free.color4  { background-color: #E91E63; } /* pink 500 */
.free.color5  { background-color: #00bcd4; } /* cyan 700 */
.free.color6  { background-color: #9C27B0; } /* purple 500 */
.free.color7  { background-color: #795548; } /* brown 500 */
.free.color8  { background-color: #512da8; } /* deep purple 700 */
.free.color9  { background-color: #009688; } /* teal 500*/
.free.color10 { background-color: #3F51B5; } /* indigo 500 */
.free.color11 { background-color: #B71C1C; } /* red 900 */
.free.color12 { background-color: #1B5E20; } /* green 900 */
.free.color13 { background-color: #0D47A1; } /* blue 900 */
.free.color14 { background-color: #880E4F; } /* pink 900 */
.free.color15 { background-color: #006064; } /* cyan 900 */
.free.color16 { background-color: #4A148C; } /* purple 900*/
.free.color17 { background-color: #3E2723; } /* brown 900 */
.free.color18 { background-color: #311B92; } /* deep purple 900 */
.free.color19 { background-color: #004D40; } /* teal 900 */
.free.color20 { background-color: #1A237E; } /* indigo 900 */

.stagehall .bt {border-top:    2px solid #000 !important;}
.stagehall .br {border-right:  2px solid #000 !important;}
.stagehall .bb {border-bottom: 2px solid #000 !important;}
.stagehall .bl {border-left:   2px solid #000 !important;}

.stagehall .sector-button {
    display: table;
    width:  100%;
    height: 100%;
    transition: background 0.5s linear 0s;
}
.stagehall .sector-button:hover label {
    cursor: pointer;
    background: #FFCC00;
    color: #000;
    transition: background 0.5s linear 0s;
}

.stagehall .sector-button label {
    display: table-cell;
    background: #FFE57F;
    color: #000;
    font-weight: bold;
    vertical-align: middle;
    transition: background 0.5s linear 0s;
}

.stagehall .sector-button span {
    display: table-cell;
    background: #E1E1E1;
    color: #000;
    font-weight: bold;
    vertical-align: middle;
}

.stagehall .sector-button input {
    display: none;
}
.stagehall .sector-button input:checked + label {
    background: #FFCC00;
    color: #000;
}

.sectors-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 1rem 0;

    max-width: 65vw;
    overflow-x: auto;
}

.sectors-slider .sector-title {
    font-weight: bold;
    text-transform: uppercase;
}
.sectors-slider .stagehall {
    margin: 0 auto;
    width: auto;
}
