{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
{% load i18n static tz compress %}
    <title>Подтверждение заказа билетов</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta name="description" content="Страница подтверждения успешного или НЕуспешного заказа билетов">
    <meta name="keywords" content="оформление заказа, чекаут, подстверждение">

    {# Общие CSS-файлы - загружаются в любом случае #}
    <link rel="stylesheet" type="text/css" href="{% static "global/css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "global/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "global/css/mq-order.css" %}">
    {# Общие CSS-файлы - загружаются в любом случае #}

    <link rel="stylesheet" href="{% static "global/js/lightbox2/lightbox.min.css" %}">

    {% if debug %}<link rel="stylesheet" type="text/css" href="{% static "global/css/dev.css" %}">{% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="google-site-verification" content="{# google_webmaster #}">
    <meta name="yandex-verification" content="{# yandex_webmaster #}">
    {# Не индексировать тестовую версию сайта #}
    {% if debug %}<meta name="robots" content="noindex, nofollow">{% endif %}
    {# Не индексировать тестовую версию сайта #}
    <meta name="robots" body="NOODP">

    {# Метатеги для выбора городов #}
    <meta name="city" content="{{ request.city_slug }}">
    <meta name="domain" content="{{ request.root_domain }}">
    {# Метатеги для выбора городов #}

    {# `tel:` links NO auto-detection #}
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    {# `tel:` links NO auto-detection #}

    {# favicons #}
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-57x57.png" %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-60x60.png" %}" sizes="60x60">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-72x72.png" %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-76x76.png" %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-114x114.png" %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-120x120.png" %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-144x144.png" %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-152x152.png" %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static "global/ico/apple-touch-icon-180x180.png" %}" sizes="180x180">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-36x36.png" %}" sizes="36x36">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-48x48.png" %}" sizes="48x48">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-72x72.png" %}" sizes="72x72">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-144x144.png" %}" sizes="144x144">
    <link rel="icon" type="image/png" href="{% static "global/ico/android-chrome-192x192.png" %}" sizes="192x192">
    <link rel="manifest" href="http://{{ request.url_domain }}/manifest.json">
    <meta name="msapplication-TileColor" content="#FFCC00">
    <meta name="msapplication-TileImage" content="{% static "global/ico/mstile-144x144.png" %}">
    <meta name="theme-color" content="#FFE57F">
    <link rel="yandex-tableau-widget" href="{% static "global/yandex.manifest.json" %}">
    <link rel="icon" type="image/x-icon" href="{% static "global/ico/favicon.ico" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "global/ico/favicon.ico" %}">
    {# favicons #}
</head>
{% endspaceless %}
<body>

<div class="body">
    <main class="content">
        <div class="order-progress">
            <div class="order-progress-step1">
                <div class="order-progress-step1-body"><span>Шаг 1.</span> <span>Выбор билетов</span></div>
            </div>
            <div class="order-progress-step2">
                <div class="order-progress-step2-body"><span>Шаг 2.</span> <span>Оформление билетов</span></div>
            </div>
            <div class="order-progress-step3">
                <div class="order-progress-step3-body active"><span>Шаг 3.</span> <span>Подтверждение оформления</span></div>
            </div>
        </div>

        <h1 id="event-title-date-time" class="step3">
            <span id="event-title">{{ event.event_title }}</span>
            <span id="event-date">{{ event.event_date }}</span>
            <span id="event-time">{{ event.event_time }}</span>
        </h1>

        <h2 id="event-venue">
            <span id="stagehall_name">
                {{ event.event_venue_title }}{% if event.event_venue_city %} ({{ event.event_venue_city }}){% endif %}
            </span>
        </h2>

        <div class="order-header step3">
            <div id="basket-container" class="step3">
                <h3 id="chosen-tickets-header">Выбранные места</h3>
                <p>
                    <ul id="chosen-tickets">
                    {% for t in order.tickets %}
                        <li>
                            {{ t.sector_title }}, ряд {{ t.row_id }}, место {{ t.seat_title }}, цена {{ t.price }} <img class="ruble" src="/static/global/ico/ruble_sign.svg">
                        </li>
                    {% endfor %}
                    </ul>
                </p>
                <h3 id="overall-header">Всего</h3>
                <p id="overall">
                    <span id="overall-text">Билетов <span id="count-chosen">{{ order.count }}</span> на сумму <span id="total-sum">{{ order.total }}</span> <img class="ruble-sign" src="{% static "global/ico/ruble_sign.svg" %}"></span>
                </p>

                <h3 id="order-info-header">Информация о заказе</h3>
                <ul id="order-info" style="padding: 1rem 2.5rem;">
                {% for i in order.info %}
                    <li style="text-transform: initial;">{{ i.key }} {{ i.value|safe }}</li>
                {% endfor %}
                </ul>
            </div>

            <div id="success-message" style="font-weight: bold;">
                <br>
                <br>
                <p>Заказ успешно завершён.</p>
                <p>На введённый Вами email отправлена информация о заказанных Вами билетах.</p>
            </div>

            <div class="order-buttons step3">
                <div class="button-tomain">
                    <a id="tomain" href="/">На главную</a>
                </div>
            </div>

        </div>

        {% if debug %}
        <br><br>
        order_tickets: <pre>{{ order.tickets|pprint }}</pre>
        <br><br>
        order_count: <pre>{{ order.count|pprint }}</pre>
        <br><br>
        order_total: <pre>{{ order.total|pprint }}</pre>
        <br><br>
        order_total_plus_commission: <pre>{{ order_total_plus_commission|pprint }}</pre>
        <br><br>
        event: <pre>{{ event|pprint }}</pre>
        <br><br>
        {% endif %}
    </main>
</div>

<footer class="footer">
    {% if not debug %}
    {% spaceless %}
    <div class="counters">
        {% compress js inline %}
        {% include "counters.html" %}
        {% endcompress %}
    </div>
    {% endspaceless %}
    {% endif %}
</footer>

<script type="text/javascript" src="{% static "global/js/jquery/jquery-3.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "global/js/cookie/js.cookie.js" %}"></script>

{# compress js inline #}
<script type="text/javascript">
    {% include "order/confirmation.js" %}
</script>
{# endcompress #}

</body>
</html>